.App {
  font-family:Arial, Helvetica, sans-serif;
  font-size: large;

}
h1{
  text-align: center;
}
body{
  background-color:rgb(54, 53, 53);
  color: white;
  overflow: hidden;

}
.todo-container{
  background-color: rgb(22, 21, 21);
  padding: 2%;
  width:fit-content ;
  margin: 3px auto;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 3px 10px 2px black;

}
.todo-input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.todo-inputs{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start ;
  margin-right: 25px;


}
.todo-inputs label{
  font-weight: bold;
  margin-bottom: 10px;
}
.todo-inputs input{
  padding: 10px 20px;
  width: 250px;
  border: none;
  font-size: 17px;
  border-radius:30px ;
  -webkit-border-radius:30px ;
  -moz-border-radius:30px ;
  -ms-border-radius:30px ;
  -o-border-radius:30px ;
}
.todo-inputs input:focus{
  outline: 2px solid orange;
}

.primary-btn{
  padding: 10px 20px;
  margin-top: 28px;
  width: 100px;
  border-radius:30px;
  font-weight: bold;
  font-size: 17px;
  border: none;
  color: white;
  background-color: orange;
  cursor: pointer;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  -ms-border-radius:30px;
  -o-border-radius:30px;
}
.primary-btn:hover{
  background-color: rgb(248, 190, 81);
}

.task-btn{
  padding: 10px 20px;
  border-radius:30px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
  background-color: rgb(39, 37, 37);
  margin: 10px auto ;
  cursor: pointer;
  width: fit-content;
}
.active{
  background-color: orange;
}
.todo-task-list{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(54, 52, 52);
  margin-top: 20px;
  border-radius: 30px;
}
.todo-list-items{
  padding: 10px 20px;
  margin-bottom: 5px;
  justify-content: space-between;
}
.todo-list-items h3{
  font-size: 25px;
  color: orange;
  font-weight: bold;
  margin: 2px;
}

.todo-list-items p{
  font-size: 14px;
  color: aliceblue;
  margin-top: 10px;
  font-size: 17px;

}

.icons{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  padding: 10px;

}
.icons .del-icon{
  font-size: 35px;
  cursor: pointer;
}
.icons .del-icon:hover{
  color: red;
  transition: 1s;
  -webkit-transition:0.3s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.icons .done-icon{
  font-size: 35px;
  cursor: pointer;
  color: orange;
  margin-left: 10px;
}
.icons .done-icon:hover{
  color: green;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
